<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재확인</title>
    <link rel="stylesheet" href="/static/css/member/mypage-passwordcheck.css">
    <link rel="stylesheet" href="/static/css/member/mypage-passwordcheck2.css">
</head>

<body>
    <section class="cont_withdrawal" id="withdrawalCertify" style="">
        <h2 class="txt_title">
            비밀번호 재확인을 해주세요.
            <span class="txt_subtitle">회원님의 소중한 정보를 위해, 계정의 현재 비밀번호를 확인해 주세요.</span>
        </h2>
        <form>
            <fieldset>
                <legend class="blind">비밀번호 재확인</legend>
                <div class="wrap_forms">
                    <div class="box_common">
                        <dl class="area_forms type_password">
                            <dt>아이디</dt>
                            <dd><span class="txt_id">koreaitacademy</span></dd>
                        </dl>
                        <dl class="area_forms type_password">
                            <dt>
                                <label for="passwd">비밀번호 확인</label>
                            </dt>
                            <dd>
                                <div class="TypoBox">
                                    <input type="password" id="passwd" name="passwd" class="Typo SizeL"
                                        placeholder="비밀번호를 입력해 주세요" autocomplete="off">
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrap_buttons">
                    <button type="button" id="btn_out_normal_certify" class="BtnType SizeL">확인</button>
                </div>
            </fieldset>
        </form>
    </section>
</body>

</html>