<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/aside/applicantmanagement.css" />
        <title>지원자 관리</title>
    </head>
    <body>
        <div class="sidebar">
            <h2>지원자 관리</h2>
            <p class="title all"><span class="circle"></span>포지션 전체</p>
            <p onclick="toggleArrow(this)" class="title each"><span class="arrow"></span>진행중 포지션</p>
            <ul></ul>
            <p onclick="toggleArrow(this)" class="title each"><span class="arrow"></span>마감된 포지션</p>
            <ul></ul>
        </div>
    </body>
    <script src="../../static/js/aside/applicantmanagement.js"></script>
</html>
