<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/aside/applicantmanagement.css" />
        <title>지원자 관리</title>
    </head>
    <body>
        <div class="content-wrapper">
            <div class="sidebar">
                <h2>지원자관리</h2>
                <button class="all">포지션 전체</button>
                <button class="triangle"><span>진행중 포지션</span></button>
                <ul></ul>
                <button class="triangle"><span>마감된 포지션</span></button>
                <ul></ul>
            </div>
            <div class="main-content">
                <div class="row">
                    <input type="checkbox" class="checkbox" />
                    <div class="star"></div>
                    <div class="column">2022.12.31 지원</div>
                    <div class="column">김점핏<br />총 10년 10개월<br />[점핏] 서버/백엔드 개발자</div>
                    <div class="column">미열람</div>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/js/aside/applicantmanagement.js"></script>
</html>
