.content-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(200, 200, 200, 0.8);
}
.info {
    font-size: 16px;
    font-weight: 900;
    color: rgb(85, 85, 85);
    margin-bottom: 16px;
    text-align: left;
    padding-left: 10px;
}
.guide {
    font-size: 12px;
    color: rgb(130, 130, 130);
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
    text-decoration: underline;
}
button {
    font-size: 15px;
    line-height: 22px;
    width: 100%;
    height: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
button.save.clicked,
button.approve.clicked,
button.delete.clicked {
    background: rgb(0, 221, 109);
    border: 1px solid rgb(0, 221, 109);
    color: rgb(255, 255, 255);
    padding: 0px 16px;
}
button.save,
button.approve {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    padding: 0px 16px;
}
button.delete {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: rgb(255, 0, 0);
    padding: 0px 16px;
}
.agreement {
    font-size: 15px;
    font-weight: 700;
    color: rgb(85, 85, 85);
    text-align: left;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(85, 67, 67, 0.1);
    margin-bottom: 20px;
}
.agreement input[type="checkbox"] {
    margin-right: 15px;
}
.red-text {
    color: rgb(255, 0, 0); /* 빨간색 글씨 */
}
.notify {
    font-size: 14px;
    color: rgb(85, 85, 85);
    text-align: left;
    padding-left: 10px;
}
